/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

body {
  color: #000000 !important;
  line-height: 1.8rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}
.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4,
.emphasis-title h1,
.emphasis-title h2 {
  color: #000000;
}
.titulo_seccion {
  font-size: 1.8em;
  color: #5fd0ba;
  border-bottom: #5fd0ba 5px solid;
  padding: 1% 5% 0.5% 1%;
  text-transform: uppercase;
  float: right;
  background-color: #dcf5f0;
  text-align: right;
}

.prologo_editorial {
  position: relative;
  right: 0;
}

p {
  text-align: justify;
  font-size: 1rem;
}

bold {
  font-weight: 600;
}

.prensa_grid {
  background-color: #e8e8e8;
  border-radius: 20px 20px 0px 0px;
  border: 2px solid #ccc;
  text-align: center;
  max-height: 890px;
}

.portfolio-desc > span {
  font-size: 13px;
}

.menu-link {
  color: #000000;
  text-transform: none !important;
  font-size: 0.9rem !important;
}
.sub-menu-container .menu-item > .menu-link {
  font-size: 0.85rem !important;
}

.menu-item {
  font-size: 0.9rem;
}

.entry-meta {
  overflow: visible;
  margin: 0px;
}

.entry-meta alignleft {
  margin: 0px;
}

img.alignleft,
div.alignleft {
  margin: 5px 20px 5px 0;
}

.entry-image {
  margin-bottom: 5px;
}

.epigrafe {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  margin: 5px 5px 15px 5px;
  border-left: 2px solid #999;
  padding-left: 5px;
  display: inline-block;
}

.flip-card-front::after,
.flip-card-back::after {
  opacity: 0.3;
  background-color: #828181;
}

.tarjeta-exportaciones {
  background-color: #dcf5f0;
  border: solid 1px #1abc9c;
  border-radius: 0.4em;
  padding: 1rem;
  margin-right: 0.5rem;
}

.tarjeta-importaciones {
  background-color: #cbf3eb;
  border: solid 1px #179c82;
  border-radius: 0.4em;
  padding: 1rem;
  margin-right: 0.5rem;
}

.tarjeta-saldo {
  background-color: #9ddace;
  border: solid 1px #328e7c;
  border-radius: 0.4em;
  padding: 1rem;
  margin-right: 0.5rem;
}

.exportaciones-ia {
  font-size: 0.9rem;
  line-height: 0.4rem;
}

.heading-block h3 {
  font-size: 1.55rem;
}

.mes-izk {
  float: left;
  color: #5fd0ba;
  font-weight: 700;
  border-left: 2px solid #5fd0ba;
  padding-right: 5px;
  background-color: #dcf5f0;
  padding-left: 5px;
  text-transform: uppercase;
  font-size: 1.15rem;
  margin-bottom: 0.25rem;
}

.mes-der {
  text-align: right;
  float: right;
  color: #5fd0ba;
  font-weight: 700;
  border-right: 2px solid #5fd0ba;
  padding-right: 5px;
  background-color: #dcf5f0;
  padding-left: 4px;
  text-transform: uppercase;
  font-size: 1.15rem;
  margin-bottom: 0.25rem;
}
.counter {
  font-size: 2.5em;
  text-align: center;
}

@media (max-width: 629px) {
  .hideonmobile {
    display: none;
  }
}

@media (max-width: 629px) {
  .showonmobile {
    display: block !important;
  }
}

.sec img {
  width: 3rem;
  float: left;
  margin-right: 1rem;
}
.sec div {
  padding: 1rem;
}

.menu_labor {
  width: 22rem;
}
.menu_sec1 {
  width: 14rem;
}
.menu_sec2 {
  width: 13rem;
}

.sec_top {
  display: inline-block;
}
.sec_top img {
  width: 7rem;
  float: left;
}
.sec_top h2 {
  font-size: 2.5rem;
  line-height: 3.5rem;
  display: inline-block;
  padding-left: 1.5rem;
}

.img_gestiones {
  float: left;
  width: 26rem;
  margin: 1rem;
}

.text-muted {
  color: #000000 !important;
}

.subtitulo {
  color: #267df4 !important;
  letter-spacing: 0px;
  text-transform: none;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 500;
}
.lead {
  font-size: 1.1rem;
}
.testi-meta span {
  font-size: 0.9rem;
  color: #000;
}

.dark .testi-meta span {
  color: #e8e8e8;
}

.breadcrumbs {
  background-color: #ecf1ff;
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.breadcrumbs img {
  height: 5rem;
}

.breadcrumbs .actual {
  font-weight: 600;
  text-decoration: underline !important;
}

.breadcrumbs .bread-sec {
  font-size: 0.9rem;
  font-style: italic;
  text-align: right;
  line-height: 3rem;
}

.breadcrumbs .titulo-sec {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
}

.anterior-siguiente .nombre img {
  height: 5rem;
}

.anterior-siguiente .flecha {
  font-size: 4rem;
  background-color: #ecf1ff;
  line-height: 6rem;
}

.anterior-siguiente .meta-nav {
  color: #000000;
  font-weight: 600;
}

#tablitaPEVI .table th,
.table td {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
#tablitaPEVI {
  width: 80%;
}

.timeline-border {
  border-left: 1px dashed #000;
  transform: translateX(-20%);
}
.timeline-divider {
  border-top: 1px dashed #000 !important;
}

.entry.entry-date-section span {
  border: 2px solid #b1b2b3;
}

.fbox-content p {
  color: #000;
}

.portfolio-image {
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
}
.portfolio-item {
  border: 2px solid #efefef;
  border-radius: 10px;
  padding-bottom: 5px;
  background-color: #f5f5f5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.portfolio-desc {
  padding: 10px 10px 20px 10px;
  text-align: justify;
  height: 7rem;
}
